[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
pyjwt = "*"
pillow = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
psycopg2 = "*"
itsdangerous = "*"
bcrypt = "*"
flask-bcrypt = "*"
sqlalchemy-file = "*"
flask-mail = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
