[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
itsdangerous = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
pyjwt = "*"
pillow = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
